<h2>New Job opening</h2>
<div class="container-form">
  <%= simple_form_for @job do |f| %>
    <% if @job.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @job.errors.full_messages.each do |message| %>
            <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
              <span><%= message %></span>
              <a data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
              </a>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :title, label: 'JOB TITLE' %>
    <%= f.simple_fields_for :keywords do |keywords| %>
      <%= keywords.input :keywords, label: 'KEYWORDS', hint: 'Add as many keywords as you like, separated with commas' %>
    <% end %>
    <%= f.input :due_date, input_html: { class: "date-field" }, label: 'DUE IN', as: :string %>
    <%= f.association :user, label: 'JOB OWNER', :include_blank => false, :label_method => lambda { |user| "#{user.photo}  #{user.first_name} #{user.last_name} "} %>
  <div class="question">
    <p>Would you like to define baseline criteria now? This will be used to auto-label candidates to help you manage your workload. Don’t worry, you will still need to finalise all decisions.
    </p>
    <i class="fas fa-toggle-on"></i>
  </div>
  <div class="container-btns">
    <div class="new-btn-left">
      <%= f.submit "Create Opening", class: "nbtn nbtn-primary" %>
    </div>
  <% end %>
  </div>
</div>
