  <h2>New Job opening</h2>
  <div class="container-form">
  <%= simple_form_for @job do |f| %>
    <%= f.input :title, label: 'Job Title' %>
    <%= f.simple_fields_for :keywords do |keywords| %>
      <%= keywords.input :keywords, label: 'Keywords', hint: 'Add as many keywords as you like, separated with commas' %>
    <% end %>
    <%= f.input :due_date, input_html: { class: "date-field" }, label: 'Due in', as: :string %>
  </div>
  <div class="container-btns">
    <div class="new-btn-left">
      <%= f.submit "Create opening", class: "btn-primary" %>
    </div>
    <% end %>
  </div>
