<div class="title">
  <h1><%= @job.title %></h1>
  <%= link_to 'Upload PDF', job_job_applications_path(@job), method: :post, class: 'nbtn nbtn-primary' %>
</div>

<p>Due-date: <%= @job.due_date.strftime("%d %b '%y") %></p>

<div>
  <% if @job.candidates.any? %>
    <h2>List of candidates (<%= @job.candidates.count %>)</h2>
    <ul>
      <% @job.candidates.each do |candidate| %>
        <li>
          <%= candidate.name%> - <%= candidate.email %> - <%= candidate.created_at %>- <%= candidate.days_since_applied %> days ago <%= link_to "show", candidate_path(candidate, job_id: @job.id) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No candidate yet for this job opening</p>
  <% end %>
</div>
<%= link_to "« Back to Dashboard", dashboard_path, class: 'nbtn nbtn-simple' %>
