<div class="title">
  <h2><%= @job.title %></h2>
  <%= link_to 'Upload CV', new_candidate_path(job_id: @job.id), class: 'nbtn nbtn-primary' %>
</div>

<div class="title">
  <p style="color: #90A0B7; margin-bottom: 15px;">Due-date: <%= @job.due_date.strftime("%d %b '%y") %></p>
</div>

<div class="container-for-container">
  <%= render './jobs/partials/filter_container', job: @job, fields: @fields %>
</div>

<br>

<div class="top-container">
  <% if @job.candidates.any? %>
    <h4>List of candidates <span id="candidates-count">(<%= @filtered_results.count %>)</span></h4>
    <div class="table-container">
      <table class="table" id="candidates-table-body">
        <tr class="op-mid">
          <th></th>
          <th class="tx-al-l">EMAIL</th>
          <th class="tx-al-l">RECEIVED</th>
          <th class="tx-al-l">ACTIONS</th>
        </tr>
        <% @filtered_results.each do |candidate| %>
          <%= render './jobs/partials/candidate_row', candidate: candidate %>
        <% end %>
      </table>
    </div>
    <% else %>
    <p>No candidate yet for this job opening</p>
  <% end %>
</div>q

<%= link_to "« Go Back", dashboard_path, class: 'nbtn nbtn-simple' %>
