<div class="title">
  <h1><%= @job.title %></h1>
  <%= link_to 'Upload CV', new_candidate_path(job_id: @job.id), class: 'nbtn nbtn-primary' %>
</div>

<p>Due-date: <%= @job.due_date.strftime("%d %b '%y") %></p>
<div style="height: 350px; overflow-y: auto">
  <% if @job.candidates.any? %>
    <h2>List of candidates (<%= @job.candidates.count %>)</h2>
    <table style="width:100%">
      <tr>
        <th>APPLICATIONS</th>
        <th>EMAIL</th>
        <th>RECEIVED</th>
        <th>ACTIONS</th>
      </tr>
      <% @job.candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name%></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.days_since_applied %> days ago</td>
        <td><%= link_to "show", candidate_path(candidate, job_id: @job.id) %></td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>No candidate yet for this job opening</p>
  <% end %>
</div>
<%= link_to "« Back to Dashboard", dashboard_path, class: 'nbtn nbtn-simple' %>
