<div class="title">
  <h2><%= @job.title %></h2>
  <button class="nbtn nbtn-primary" data-toggle="modal" data-target="#cv-upload">Upload CVs</button>
  <%#= link_to 'Upload CV', new_candidate_path(job_id: @job.id), class: 'nbtn nbtn-primary' %>
</div>

<div class="title">
  <p style="color: #90A0B7; margin-bottom: 15px;">Due Date: <%= @job.due_date.strftime("%d %B %Y") %></p>
</div>

<div class="container-for-container">
  <%= render './jobs/partials/filter_container', job: @job, fields: @fields %>
</div>

<br>

<div class="top-container">
  <% if @filtered_results.any? %>
    <h4>List of candidates (<span id="candidates-count" class="outstanding-count"><%= @filtered_results.count %></span>)</h4>
    <div class="table-container" style="height: 440px;">
      <table class="table" id="example">
        <thead>
          <tr class="op-mid">
            <th></th>
            <th class="tx-al-l sortable" data-id="1">EDUCATION</th>
            <th class="tx-al-l sortable" data-id="2">LAST WORKPLACE</th>
            <th class="tx-al-l sortable" data-id="3">SUITABILITY</th>
            <th class="tx-al-l sortable" data-id="4">YEARS OF EXP</th>
            <th class="tx-al-r sortable" data-id="5">RECEIVED</th>
            <th class="tx-al-r"><button class="csv-button nbtn-tertiary">Export CSV</button></th>
          </tr>
        </thead>
        <tbody id="candidates-table-body">
          <% @filtered_results.each do |candidate| %>
            <%= render './jobs/partials/candidate_row', candidate: candidate %>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    <p>No candidate yet for this job opening</p>
  <% end %>
</div>

<%= link_to "« Go Back", dashboard_path, class: 'nbtn nbtn-simple' %>

<div class="modal fade" id="cv-upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload CVs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="height: auto; overflow-y: auto">
          <%= simple_form_for :applications, url: job_job_applications_path(@job) do |f| %>
            <%= f.file_field :attachments, required: true, multiple: true, accept: ".pdf"  %>
            <br />
            <p><%= f.button :submit, "Upload", class: "nbtn nbtn-primary", style: "margin-top:24px;" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
