<div class="title">
  <h2><%= @job.title %></h2>
  <%= link_to 'Upload CV', new_candidate_path(job_id: @job.id), class: 'nbtn nbtn-primary' %>
</div>

<p>Due-date: <%= @job.due_date.strftime("%d %b '%y") %></p>
<div class="container-for-container">
<%= render './jobs/partials/filter_container', job: @job, fields: @fields %>
</div>
<div style="height: 350px; overflow-y: auto">
  <% if @job.candidates.any? %>
    <h2>List of candidates <span id="candidates-count">(<%= @job.candidates.count %>)</span></h2>
    <table style="width:100%">
      <tr>
        <th>APPLICATIONS</th>
        <th>EMAIL</th>
        <th>RECEIVED</th>
        <th>ACTIONS</th>
      </tr>
      <tbody id="candidates-table-body">
        <% @filtered_results.each do |candidate| %>
          <%= render './jobs/partials/candidate_row', candidate: candidate %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No candidate yet for this job opening</p>
  <% end %>
</div>
<%= link_to "« Back to Dashboard", dashboard_path, class: 'nbtn nbtn-simple' %>
