<div class="title">
  <h2><%= @job.title %></h2>
  <%= link_to 'Upload CV', new_candidate_path(job_id: @job.id), class: 'nbtn nbtn-primary' %>
</div>

<div class="title">
  <p style="color: #90A0B7; margin-bottom: 15px;">Due-date: <%= @job.due_date.strftime("%d %b '%y") %></p>
</div>

<div class="container-for-container">
  <%= render './jobs/partials/filter_container', job: @job, fields: @fields %>
</div>

<br>

<div class="top-container">
  <% if @filtered_results.any? %>
    <h4>List of candidates (<span id="candidates-count" class="outstanding-count"><%= @filtered_results.count %></span>)</h4>
    <div class="table-container">
      <table class="table" id="example">
        <thead>
          <tr class="op-mid">
            <th></th>
            <th class="tx-al-l">EDUCATION</th>
            <th class="tx-al-l">LAST WORKPLACE</th>
            <th class="tx-al-l">SUITABILITY</th>
            <th class="tx-al-l">YEARS OF EXP</th>
            <th class="tx-al-l">RECEIVED</th>
            <th class="tx-al-r"></th>
          </tr>
        </thead>
        <tbody id="candidates-table-body">
          <% @filtered_results.each do |candidate| %>
            <%= render './jobs/partials/candidate_row', candidate: candidate %>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    <p>No candidate yet for this job opening</p>
  <% end %>
</div>

<%= link_to "« Go Back", dashboard_path, class: 'nbtn nbtn-simple' %>
