<div class="dashboard-title">
  <h2>Dashboard</h2>
  <%= link_to "New Opening", new_job_path, class: "nbtn nbtn-primary" %>
</div>
<br>
<div class="dashboard-container">
  <div class="top-container">
    <h4>Outstanding applications (<span id="outstanding-count" class="outstanding-count"><%= @count %></span>)</h4>
    <%= render 'shared/applications_dash', candidate: @applications %>
  </div>
  <br>
  <div class="bottom-container">
    <div class="bottom-left-container">
      <h4>Inbound applications</h4>
      <br>
      <%= area_chart charts_new_candidates_path, colors: ["#109CF1", "#666"], max: 10 %>
    </div>
      <div class="bottom-right-container">
      <h4>Open job positions (<%= @jobs.count %>)</h4>
      <div class="ajax-container">
        <%= render 'jobs/index', jobs: @jobs %>
      </div>
    </div>
  </div>
</div>
