<div class="title-dash">
  <p></p>
  <%= link_to "New Opening", new_job_path, class: "nbtn nbtn-primary" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nbtn nbtn-secondary" %>
</div>
<div style="margin: 10px; overflow-y: auto">
  <p><strong>New in</strong></p>
  <%= render 'candidates/index', jobs: @candidates %>
</div>
<div style="display: flex; justify-content: space-around; margin-top: 20px; margin-left: 10px">
  <div style="height: 50%; width: 50%">
    <p><strong>Inbound applications</strong></p>
  </div>
  <div>
    <p><strong>Open job positions (<%= @jobs.count %>)</strong></p>
    <%= render 'jobs/index', jobs: @jobs %>
  </div>
</div>

