<div class="dashboard-title">
  <h3>Dashboard</h3>
  <%= link_to "New Opening", new_job_path, class: "nbtn nbtn-primary" %>
</div>
<hr>
<div class="dashboard-container">
  <div class="top-container">
    <p><strong>Outstanding applications (<%= @count %>)</strong></p>
    <%= render 'shared/applications_dash', candidate: @applications %>
  </div>
  <hr>
  <div class="bottom-container">
    <div class="bottom-left-container">
      <p><strong>Inbound applications</strong></p>
      <%= area_chart charts_new_candidates_path, colors: ["#109CF1", "#666"] %>
    </div>
      <div class="bottom-right-container">
      <p><strong>Open job positions (<%= @jobs.count %>)</strong></p>
        <%= render 'jobs/index', jobs: @jobs %>
    </div>
  </div>
</div>
