<div class="table-container">
  <% if @applications.any? %>
    <table class="table" id="example">
      <tr class="op-mid">
        <th></th>
        <!--    <th>EMAIL</th> -->
        <th class="tx-al-r">JOB OPENING</th>
        <th class="tx-al-r">SUITABILITY</th>
        <th class="tx-al-r">RECEIVED</th>
        <th class="tx-al-r"></th>
      </tr>
      <% @applications.each do |application| %>
      <tr data-application-id="<%= application.id %>">
        <td class="strong"><%= link_to candidate_path(application.candidate, job_id: application.job.id) do %> <%= application.candidate.name%> <% end %></td>
        <!-- <td><%= application.candidate.email %></td> -->
        <td class="tx-al-r"><%= application.job.title %></td>
        <td class="tx-al-r"><%= application.suitability %>%</td>
        <td class="tx-al-r" ><%= application.candidate.days_since_applied %> day<% if application.candidate.days_since_applied > 1 %>s<% end %> ago</td>
        <td class="tx-al-r" id="last-td">
          <%= link_to job_application_path(application, q: 'accept'), method: :patch, remote: true do %>
            <i class="fas fa-check"></i>
          <% end %>
          <%= link_to job_application_path(application, q: 'reject'), method: :patch, remote: true do %>
            <i class="fas fa-times"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>You have no outstanding applications 😢</p>
  <% end %>
</div>
