<h2>List of candidates</h2>

<div>
  <% if @candidates.any? %>
    <ul>
      <% @candidates.each do |candidate| %>
        <li>
          <%= candidate.name%> - <%= candidate.email %> - <%= candidate.created_at %>- <%= candidate.days_since_applied %> days ago <%= link_to "show", candidate_path(candidate) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No candidate yet for this job opening</p>
  <% end %>
</div>
