<div class="dashboard-title">
  <h2>Candidates Database</h2>
</div>
<div class="table-container" style="height: auto;">
  <% if @candidates.any? %>
    <table class="table" id="example">
      <tr class="op-mid">
        <th class="txt-al-l"></th>
        <th>EMAIL</th>
        <th>RECEIVED</th>
        <th class="tx-al-c">DETAILS</th>
      </tr>
      <% @candidates.each do |candidate| %>
      <tr>
        <td><strong><%= candidate.name %></strong></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.days_since_applied %> day<% if candidate.days_since_applied > 1 %>s<% end %> ago</td>
        <td class="tx-al-c"><%= link_to candidate_path(candidate) do%>
          <i class="far fa-eye"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>No candidate yet in your database</p>
  <% end %>
</div>
<%= link_to " « Back to Dashboard", dashboard_path, class: 'nbtn nbtn-simple' %>
