<div class="dashboard-title">
  <h3>Candidates database</h3>
</div>
<hr>
<div class="table-container">
  <% if @candidates.any? %>
    <table class="table">
      <tr class="op-mid">
        <th class="txt-al-l">CANDIDATES</th>
        <th>EMAIL</th>
        <th>RECEIVED</th>
        <th class="tx-al-c">DETAILS</th>
      </tr>
      <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name%></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.days_since_applied %> days ago</td>
        <td class="tx-al-c"><%= link_to candidate_path(candidate) do%>
          <i class="far fa-eye"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>No candidate yet in your database</p>
  <% end %>
</div>
<%= link_to "« Back to Dashboard", dashboard_path, class: 'nbtn nbtn-simple' %>
