<tr data-candidate-id="<%= candidate.id %>" data-application-id="<%= candidate.job_applications[0].id %>">
  <td class="tx-al-l strong status-icon">
    <% if (candidate.job_applications[0].status == "accept") %>
        <i class="fas fa-xs fa-circle circle-green"></i>
    <% elsif (candidate.job_applications[0].status == "reject") %>
        <i class="fas fa-xs fa-circle circle-red"></i>
    <% else %>
         <i class="fas fa-xs fa-circle circle-transparent"></i>
    <% end %>
    <%= link_to candidate_path(candidate, job_id: @job.id) do %> <%= candidate.name%> <% end %>
  </td>
  <td class="tx-al-l" data-id="1"><%= candidate.last_education_institute %></td>
  <td class="tx-al-l" data-id="2"><%= candidate.last_workplace %></td>
  <td class="tx-al-c" data-id="3"><%= candidate.job_applications[0].suitability %>%</td>
  <td class="tx-al-c" data-id="4"><%= candidate.experiences_duration %></td>
  <td class="tx-al-r" data-id="5">
    <% if candidate.days_since_applied == 0 %>
      Today
    <% elsif candidate.days_since_applied > 1 %>
      <%= candidate.days_since_applied %> days ago
    <% elsif candidate.days_since_applied == 1 %>
      <%= candidate.days_since_applied %> day ago
    <% end %>
  <td class="tx-al-r" id="last-td">
    <%= link_to job_application_path(candidate.job_applications[0], q: 'accept'), method: :patch, remote: true do %>
      <i class="fas fa-check"></i>
    <% end %>
    <%= link_to job_application_path(candidate.job_applications[0], q: 'reject'), method: :patch, remote: true do %>
      <i class="fas fa-times"></i>
    <% end %>
  </td>
</tr>
