<tr data-application-id="<%= candidate.id %>">
  <td><%= candidate.name%></td>
  <td><%= candidate.email %></td>
  <td><%= candidate.days_since_applied %> days ago</td>
  <td><%= link_to "show", candidate_path(candidate, job_id: @job.id) %></td>
</tr>
