<tr data-candidate-id="<%= candidate.id %>" data-application-id="<%= candidate.job_applications[0].id %>">
  <td class="tx-al-l strong"><%= link_to candidate_path(candidate, job_id: @job.id) do %> <%= candidate.name%> <% end %></td>
  <td class="tx-al-l"><%= candidate.last_education_institute %></td>
  <td class="tx-al-l"><%= candidate.job_applications[0].suitability %>%</td>
  <td class="tx-al-l"><%= candidate.experiences_duration %></td>
  <td class="tx-al-l"><%= candidate.days_since_applied %> days ago</td>
  <td class="tx-al-r" id="last-td">
    <%= link_to job_application_path(candidate.job_applications[0], q: 'accept'), method: :patch, remote: true do %>
      <i class="fas fa-check"></i>
    <% end %>
    <%= link_to job_application_path(candidate.job_applications[0], q: 'reject'), method: :patch, remote: true do %>
      <i class="fas fa-times"></i>
    <% end %>
  </td>
</tr>
