<div class="filter-container">
  <%= simple_form_for :search, html: {class: 'form-inline text-search'}, url: job_filter_path(job), method: :get, remote: true do |f| %>
    <%= f.input :freetext, label: false, placeholder: "global text" %>
    <%= f.button :submit, "Add", class: "nbtn-primary filter-submit" %>
  <% end %>
  <%= simple_form_for :filter, html: {class: 'form-inline filter-select'}, url: job_filter_path(job), method: :get, remote: true do |f| %>
    <%= f.input :variable, collection: Candidate::FILTERS, label: false, placeholder: "Education" %>
    <%= f.input :comparator, collection: Candidate::COMPARATORS, label: false, placeholder: "contains" %>
    <%= f.input :value, label: false, placeholder: "data science" %>
    <%= f.button :submit, "Add", class: "nbtn-ternary filter-submit" %>
  <% end %>
  <div class="applied-filters">
    <%= render './jobs/partials/applied_filter' %>
  </div>
</div>
