<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Talentr</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
  </head>
  <body>
    <% if user_signed_in? %>

      <div class="big-containers">
        <div id="mySidenav" class="left-sidebar">
          <h1><strong>Talentr</strong><small>.io</small></h1>
          <div class="nperson">
            <!-- <div class="online-badge"></div>
            <span>arthur-littm</span> -->
            <img class="avatar-large" alt="Arthur Littmann" src="https://res.cloudinary.com/dqh0reqn3/image/upload/v1566572205/jm0czy4tfgo6qjhsj6jh.png" /></li>
            <ul class="user-data">
              <li class="name"><%= current_user.first_name %></li>
               <li class="company"><%= current_user.company %></li>
            </ul>
          </div>
          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="fas fa-hashtag fa-fw"></i><%= link_to "Dashboard", dashboard_path, style: "color: #192A3E;" %></h3>
            </div>
          </div>
          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="fa fa-briefcase fa-fw"></i><%= link_to "All jobs opening", jobs_path, style: "color: #192A3E;"  %></h3>
            </div>

          </div>

          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="far fa-address-card fa-fw"></i><%= link_to "All Candidates", candidates_path, style: "color: #192A3E;"  %></h3>
            </div>

          </div>

          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="far fa-envelope-open fa-fw"></i> Mail Boxes</h3>
            </div>
          </div>

          <hr>

          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="fas fa-cog fa-fw"></i> Settings</h3>
            </div>
          </div>

          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="fas fa-sign-out-alt fa-fw"></i> <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "", style: "color: #192A3E;"  %></h3>
            </div>
          </div>

        </div>
        <a id="myArrow" class="nav-arrow" onclick="closeNav()" style="color: #AAA;"> &laquo; </a>
        <div id="myContainer" class="right-container">
          <div class="main-cointainer">
            <%= yield %>
          </div>
        </div>
      </div>

    <% elsif current_page?('/users/sign_in') or current_page?('/users/sign_up') or current_page?('/users/password/new') %>
      <div class="big-containers">
        <div id="myContainer" class="right-container" style="margin-left: 0px;">
          <div class="main-cointainer" style="width: 80%; max-width: 400px; height: auto;">
            <%= yield %>
          </div>
        </div>
      </div>

    <% else %>
      <%= yield %>
    <% end %>


    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script>
    function openNav() {
      document.getElementById('myArrow').setAttribute('onclick','closeNav()');
      document.getElementById("myArrow").style.left = "280px";
      document.getElementById("myArrow").innerHTML = " &laquo; ";
      document.getElementById("myArrow").style.color = "#AAA";

      document.getElementById("mySidenav").style.left = "0px";
      document.getElementById("mySidenav").style.boxShadow = "6px 0px 18px rgba(0, 0, 0, 0.1)";

      // document.getElementById("mySidenav").style.width = "200px";
      document.getElementById("myContainer").style.marginLeft = "280px";
    }

    function closeNav() {
      document.getElementById('myArrow').setAttribute('onclick','openNav()');
      document.getElementById("myArrow").style.left = "20px";
      document.getElementById("myArrow").innerHTML = " &raquo; ";
      document.getElementById("myArrow").style.color = "#AAA";


      document.getElementById("mySidenav").style.left = "-260px";
      document.getElementById("mySidenav").style.boxShadow = "6px 0px 14px rgba(0, 0, 0, 0.25)";
      document.getElementById("myContainer").style.marginLeft = "0px";
    }
    </script>
  </body>
</html>
