<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="big-containers">
      <% if user_signed_in? %>

        <div id="mySidenav" class="left-sidebar">
          <h1><strong>Talentr</strong><small>.io</small></h1>
          <div class="nperson">
            <!-- <div class="online-badge"></div>
            <span>arthur-littm</span> -->
            <img class="avatar-large" alt="Arthur Littmann" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /></li>
            <ul class="user-data">
              <li class="name">Arthur Littmann</li>
               <li class="company">Le Wagon</li>
            </ul>
          </div>
          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="fas fa-hashtag fa-fw"></i> Dashboard</h3>
            </div>
          </div>
          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="fa fa-briefcase fa-fw"></i> Job Openings</h3>
            </div>

          </div>

          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="far fa-address-card fa-fw"></i> All Aplicants</h3>
            </div>

          </div>

          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="far fa-envelope-open fa-fw"></i> Mail Boxes</h3>
            </div>
          </div>

          <hr>

          <div class="chat-section">
            <div class="chat-section-header">
              <h3><i class="fas fa-cog fa-fw"></i> Settings</h3>
            </div>
          </div>
        </div>
        <a id="myArrow" class="nav-arrow" onclick="closeNav()" style="color: #AAA;"> &laquo; </a>
        <div id="myContainer" class="right-container">
          <div class="main-cointainer">
            <%= yield %>
          </div>
        </div>

      <% elsif current_page?('/users/sign_in') or current_page?('/users/sign_up') or current_page?('/users/password/new') %>
        <div id="myContainer" class="right-container" style="margin-left: 0px;">
          <div class="main-cointainer" style="width: 80%; max-width: 400px; height: auto;">
            <%= yield %>
          </div>
        </div>

      <% else %>

        <div id="myContainer" class="right-container" style="margin-left: 0px;">
          <div class="main-cointainer" style="width: 80%; max-width: 400px; height: auto;">
            Landing
            <%= yield %>
          </div>
        </div>

      <% end %>
    </div>


    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script>
    function openNav() {
      document.getElementById('myArrow').setAttribute('onclick','closeNav()');
      document.getElementById("myArrow").style.left = "280px";
      document.getElementById("myArrow").innerHTML = " &laquo; ";
      document.getElementById("myArrow").style.color = "#AAA";

      document.getElementById("mySidenav").style.left = "0px";
      document.getElementById("mySidenav").style.boxShadow = "6px 0px 18px rgba(0, 0, 0, 0.1)";

      // document.getElementById("mySidenav").style.width = "200px";
      document.getElementById("myContainer").style.marginLeft = "280px";
    }

    function closeNav() {
      document.getElementById('myArrow').setAttribute('onclick','openNav()');
      document.getElementById("myArrow").style.left = "20px";
      document.getElementById("myArrow").innerHTML = " &raquo; ";
      document.getElementById("myArrow").style.color = "#AAA";


      document.getElementById("mySidenav").style.left = "-260px";
      document.getElementById("mySidenav").style.boxShadow = "6px 0px 14px rgba(0, 0, 0, 0.25)";
      document.getElementById("myContainer").style.marginLeft = "0px";
    }
    </script>
  </body>
</html>
